
.body{
    background-color: dimgrey;
}
style
    .rectangle{
        padding-top: 40px;
          width: 500px;px;
          height: 250px;px;
          border:1px solid rgb(219, 35, 35); 
          position: relative;
          text-align: center;
        }
  }
