
body{
    background-color: rgb(223, 214, 141);
}
.container{
    background-color: rgb(230, 196, 111);
}
.tab-content{
    box-decoration-break: slice;
}
#akan1{
    float: left;    
     margin: 0 15px 0 0;
    }
.p{
    font-weight: bold;
    font-style: italic;
}